<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Ebazaar Web Based</display-name>
    <error-page>
        <error-code>404</error-code>
        <location>/notfound.jsp</location>
    </error-page>
    
    <filter>
        <display-name>OpenSessionInViewFilter</display-name>
        <filter-name>OpenSessionInViewFilter</filter-name>
        <filter-class>com.group5.designpatters.ebazaar.servletfilter.OpenSessionInViewFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>OpenSessionInViewFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
